name: Copia de seguridad comprimida de la carpeta datos a una llamada backup, crearla si no esta y guardarla
on:
  push:
    branches:
      - main
jobs:
  ejecutar-copia:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Crear carpeta backup si no existe
        run: mkdir -p backup
      - name: Crear copia de seguridad comprimida de la carpeta datos
        run: tar -czf backup/backup.tar.gz datos
      - name: Guardar el backup como artefacto
        uses: actions/upload-artifact@v4
        with:
          name: backup-de-datos
          path: backup/backup.tar.gz