name: Copia de seguridad comprimida de la carpeta datos a una llamada backup y guardarla
on:
  push:
    branches:
      - main
jobs:
  ejecutar-copia:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5
      - name: Crear copia de seguridad comprimida de la carpeta datos
        run: tar -czf backup.tar.gz datos
      - name: Mover la copia de seguridad al repositorio
        run: mv backup.tar.gz ./backup/
      - name: Confirmar y subir los cambios al repositorio
        run: |
          git config --global user.name 'github-actions[bot]'
          git config --global user.email 'github-actions[bot]@users.noreply.github.com'
          git add ./backup/backup.tar.gz
          git commit -m 'Agregar copia de seguridad comprimida de la carpeta datos'
          git push origin main